<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Framewrk Agency</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121192304-1"></script>
  <script src="{{ url_for('static', filename='js/includes/jquery.min.js') }}"></script>
  {% compress 'css' %}
    <link href="{{ url_for('static', filename='less/forms.less') }}" rel="stylesheet" type="text/less">
    <link href="{{ url_for('static', filename='less/main.less') }}" rel="stylesheet" type="text/less">
  {% endcompress %}
  <!-- fonts -->
  <style>
  @font-face {
    font-family: 'Futura-Light';
    src: url('../static/fonts/Linotype - FuturaLTPro-Light.otf');
  }

  @font-face {
    font-family: 'Futura-Book';
    src: url('../static/fonts/Linotype - FuturaLTPro-Book.otf');
  }

  @font-face {
    font-family: 'Futura-Bold';
    src: url('../static/fonts/Linotype - FuturaLTPro-Bold.otf');
  }

  @font-face {
    font-family: 'Futura-Medium';
    src: url('../static/fonts/Linotype - FuturaLTPro-Medium.otf');
  }
  </style>


  <script>
    window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date());
    gtag('config', 'UA-121192304-1');
  </script>

</head>
<body class="{{template}}">
  <div class="container">
	  {% block content %}{% endblock %}
  </div>
</body>

</html>
