[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
requests = "*"
wtforms = "*"
flask-assets = "*"
flask-login = "*"
WTForms-Alchemy = "*"
dnspython = "*"
flask-pymongo = "*"
jac = "*"
pyscss = "*"

[dev-packages]


[requires]
python_version = "3.7.0"
