{% extends "layout.html" %}

  {% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/components/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/components/nav.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/components/onboarding.css') }}" rel="stylesheet">
  {% endblock %}

  {% block content %}
  <div class="dashlayout">
    <div class="sidebar">
      <div class="logo" style="{{ url_for('static', filename='img/logo_dark.png') }}"></div>
      {% include 'nav.html' %}
    </div>
    <div class="onboarding">
      {% include 'onboarding.html' %}
    </div>
  </div>
  <a class="nextquestion">
    <div class="nexttext">NEXT</div>
    <div class="nextarrow"></div>
  </a>
  {% include 'footer.html' %}
  {% endblock %}
