<nav>
    <ul>
      <a href="{{ url_for('main.question') }}" data-toggle="tooltip" title="" data-original-title="Question of the year"><li class="question">Question</li></a>
      <a href="{{ url_for('main.discover') }}" data-toggle="tooltip" title="" data-original-title="Grow your business"><li class="discover">Discover</li></a>
      <a href="{{ url_for('main.interact') }}" data-toggle="tooltip" title="" data-original-title="Talk it out"><li class="interact">Interact</li></a>
    </ul>
</nav>
