nav {
  li {
    height: 21px;
    weight: 21px;
  }

  .question {
    background: url("/img/smalldiamond.png");
  }

  .question {
    background: url("/img/smallsquare.png");
  }

  .question {
    background: url("/img/smalltriangle.png");
  }

  .question {
    background: url("/img/help.png");
  }

}
