nav {
  position: absolute;
  height: fit-content;
  width: fit-content;
  margin: auto 20px;
  top: 0;
  bottom: 0;

  ul {
    width: 21px;
    padding: 0;

    li {
      height: 21px;
      width: 21px;
      display: block;
      list-style: none;
      margin-bottom: 40px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-size: cover;

      a {
        transition: all .3s easeout;

        &:hover {
          opacity:.5;
          cursor: pointer;
        }
      }
    }

    .question {
      background: url("/img/smalldiamond.png");
    }

    .discover {
      background: url("/img/smallsquare.png");
    }

    .interact {
      background: url("/img/smalltriangle.png");
    }

    .help {
      background: url("/img/help.png");
    }
  }
}
