<nav>
  <div class="wrapper">
    <ul class="menu">
      <li><img src="{{ url_for('static', filename='img/demo/icons/nav/close.png') }}" class="close-button"></li>
      <li class="home"><a href="/">Home Base</a></li>
      <li class="feed"><a href="{{ url_for('demo_bp.feed') }}">Feed</a></li>
      <li class="roadmap">Roadmap</li>
      <li class="mastermind">Mastermind</li>
      <li class="profile">Profile</li>
    </ul>
    <span class="tagline">Questions are the answer.</span>
  </div>
</nav>
