{% extends "layout.html" %}

 {% block head %}
  {% compress 'css' %}
    <link href="{{ url_for('static', filename='less/dashboard.less') }}" rel="stylesheet" type="text/less">
    <link href="{{ url_for('static', filename='less/nav.less') }}" rel="stylesheet" type="text/less">
  {% endcompress %}
  {% endblock %}

<div class="container">
  {% include 'nav.html' %}
  <div class="logo"></div>

  <div class="main-content">
    {% block content %}

    {% endblock %}
  </div>
  {% include 'footer.html' %}



  </div>
