{% extends "layout.html" %}

  {% block pagestyles %}
    {% compress 'css' %}
      <link href="{{ url_for('static', filename='less/dashboard.less') }}" rel="stylesheet" type="text/less">
      <link href="{{ url_for('static', filename='less/nav.less') }}" rel="stylesheet" type="text/less">
      <link href="{{ url_for('static', filename='less/onboarding.less') }}" rel="stylesheet" type="text/less">
    {% endcompress %}
  {% endblock %}


  {% block content %}
  <div class="dashlayout">
    <div class="sidebar">
      <div class="logo"></div>
      {% include 'nav.html' %}
    </div>
      {% include 'onboarding.html' %}
  </div>
  {% include 'footer.html' %}
  {% endblock %}
