{% extends "dashboard.html" %}

{% block sectionstyle %}
  {% compress 'css' %}
    <link href="{{ url_for('static', filename='scss/roadmap.css') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}

{% block content %}
<div class="{{template}}">
  <div class="holder">
    <div class="shape"></div>
    <h1>Profile</h1>
  </div>

  <div class="question">
    <h5>tell us more about your:<h5>
  </div>

  <div class="categories">
    <div class="category business"></div>
    <div class="category customers"></div>
    <div class="category competition"></div>
    <div class="category team"></div>
</div>
</div>
{% endblock %}
