{% extends "layout.html" %}

 {% block content %}
<div class="formwrapper">
<form method=post>
  <div class="logo">
    <img src="{{ url_for('static', filename='img/logo_dark.png') }}">
  </div>
  <div class="email">
     {{ form.email(placeholder='David Hunt') }}
     {{ form.email.label }}
  </div>
  <div class="password">
    {{ form.password }}
    {{ form.password.label }}
  </div>
  <div class="submitbutton">
    <input id="submit" type="submit" value="Submit">
  </div>
</form>
</div>

{% endblock %}
