{% for step in data %}
<div class="onboardingarea">
  <div class="pedestal">
    <div class="shape business {{step.category}}" draggable="true"></div>
  </div>
  <h1 class="category">{{step.category}}</h2>
  <h3 class="question">{{step.question}}</h2>

  <div class="answers">
    <ul>
      {% for answer in step.options %}
      <li>
        <div class="dropzone" data-type="{{answer.name}}"></div>
        <hr>
        <div class="label" data-toggle="tooltip" title="{{answer.tooltip}}">{{answer.name}}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endfor %}
