<div class="onboardingarea">
  <div class="pedestal">
    <div class="shape business {{category}}" draggable="true"></div>
    <h1>{{category}}</h1>
  </div>

  <h2 class="category">BUSINESS{{questiontext}}</h2>
  <h3 class="question">What type of business do you have?</h2>

  <div class="answers">
    <ul>
      <li>
        <div class="dropzone"></div>
        <div class="label">PRODUCT</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">SERVICE</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">SUBSCRIPTION</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">MARKETPLACE</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">ECOSYSTEM</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">BROKERAGE</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">TRADE</div>
      </li>
      <li>
        <div class="dropzone"></div>
        <div class="label">OTHER</div>
      </li>
    </ul>

  </div>
</div>
<a href=""></a>
