 {% block content %}
<header>
  <div class="logo">
    <img src="/img/logo_dark.png">
  </div>
</header>


<script src="main.js"></script>
<form action="/validateLogin" method=post class="topBefore">
  <div class="name">
    {{ form.email.label }}
  </div>
  <div class="email">
    {{ form.password.label }}
  </div>
  <div class="website">
    {{ form.website.label }}
  </div>
  <input id="submit" type="submit" value="Submit">
</form>


<script src="main.js"></script>
<script defer type="text/javascript" src="https://s3.amazonaws.com/stitch-sdks/js/library/v3/stable/stitch.min.js"></script>
  {% endblock %}
